.listItem {
  margin: 50px 0px;
  padding: 0px;
  border: 1px solid #ccc;
}
@media (min-width: 992px) {
  .list img {
    margin-left: -5%;
    float: left;
  }
}

@media (max-width: 991px) {
  .list img {
    width: 90%;
  }
}
