select {
  border-radius: 5px;
}
.filters {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: -50px;
  padding: 10px;
}
input {
  border-radius: 5px;
}
@media (max-width: 575px) {
  .dates {
    margin: 5px;
  }
}
